<div class="footer-dark">

	<hr class="footer-line-slim">

	<div class="footer-dark-top">
		<div class="footer-left">
			<h3>О проекте</h3>
			<p>
				Информационная система файлового менеджмента для персонала организаций "DocsManAge".
				Данная система автоматизирует процесс файлового менеджмента для персонала организаций: позволяет
				упростить и ускорить работу с файлами, обеспечивает быстрый доступ к необходимой информации, удобное
				хранение и организацию файлов, а также повышает безопасность и контроль доступа к данным.
			</p>
			<br>
			<a style="text-decoration: underline; letter-spacing: 1px; font-size: 14px;" href="/docs/Privacy_policy_DocsMan.pdf">
				Политика обработки персональных данных и политика конфиденциальности
			</a>
		</div>

		<div class="footer-right">
			<h3>Контакты</h3>
			<p>
				Уважаемые пользователи, если у вас возникли вопросы или проблемы, связанные с работой нашего сайта,
				пожалуйста, обратитесь к разработчикам для технической поддержки. Мы будем
				рады помочь Вам и оперативно решить возникшие трудности.
			</p>
			<ul>
				<li>+7 917-740-54-80</li>
				<li><a href="#">chernikov-i@inbox.ru</a></li>
				<li>БФ УУНиТ, Бирск</li>
			</ul>
		</div>
	</div>

	<hr class="footer-line-bold">

	<div class="footer-dark-bottom">
		<p class="footer-links">
			<a href="/">Главная</a>
			| <a href="/User/Profile">Профиль</a>
			| <a href="/User/Docs">Документы</a>
			| <a href="/User/Notify">Уведомления</a>
			| <a href="/User/Files">Менеджер файлов</a>
			| <a href="/User/Trash">Корзина</a>
		</p>
		<p class="footer-copyright">
			Copyright &copy; 2024. <a href="https://github.com/iLYAChernikov">iLYA Chernikov</a>
		</p>
	</div>
</div>