@inherits LayoutComponentBase

<div class="global-page">

	<header>

	</header>

	<main class="user-main">
		@Body
	</main>

	<footer class="footer-style">
		<FooterPage></FooterPage>
	</footer>

</div>