@using DocsMan.Blazor.Client.WebSite.Shared.Components
@inherits LayoutComponentBase

<div class="global-page">

	<header>
		<HeaderPage/>
	</header>

	<main class="user-main">
		@Body
	</main>

	<footer class="footer-style">
		<FooterPage/>
	</footer>

</div>