@page "/User/Files"
@layout MainLayout

<PageTitle>FilesManager</PageTitle>

<h3 class="page-title">FilesManager</h3>

<div class="fm-tool-box">
	<div class="file-box">
		<ul>
			<li>
				<i class="fas fa-file-upload"></i>
			</li>
			<li>
				<i class="fas fa-pen"></i>
			</li>
			<li>
				<i class="fas fa-file-download"></i>
			</li>
			<li>
				<i class="fas fa-trash-alt"></i>
			</li>
			<li>
				<i class="fas fa-history"></i>
			</li>
			<li>
				<i class="fas fa-info"></i>
			</li>
		</ul>
	</div>
	<div class="folder-box">
		<ul>
			<li>
				<i class="fas fa-folder-plus"></i>
			</li>
			<li>
				<i class="fas fa-edit"></i>
			</li>
			<li>
				<i class="fas fa-folder-minus"></i>
			</li>
			<li>
				<i class="fas fa-info"></i>
			</li>
		</ul>
	</div>

</div>

<div class="fm-space-box">
	<ul>
		<li>
			<i class="fas fa-file-word"></i>
			<div class="doc-name">
				<p>testText.docx_lalalalalala</p>
			</div>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
			<div class="doc-name">
				<input type="text" value="testText.docx_lalalalalala"
					onkeydown="this.style.width=((this.value.length+1)*8)+'px';">
			</div>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
		<li>
			<i class="fas fa-file-word"></i>
		</li>
	</ul>
</div>

@code {

}