@page "/"
@layout MainLayout

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to new app.

<button @onclick=clk>tap tap me pls</button>

<ResponseResultPage RequestResult="@res" IsWasSendRequest="@clkBtn" OpenCloseStyles="@CSS_Styles.OpenCloseStyles" />

@code {
	RequestResultDto? res;
	bool clkBtn = false;

	void clk() => clkBtn = true;
}