/*Authorization / Registration box*/

.form-page {
	width: 100%;
	height: 100vh;
	background: var(--dm-light);
}

.form-box {
	width: 400px;
	height: 350px;
	padding: 30px;
	border-radius: 10px;
	background: var(--dm-dark-l);
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 20px 40px;
	letter-spacing: 1px;
}

.form-box.registration {
	height: 360px;
}

.form-box.is-correct-registration {
	height: 150px;
}

.form-box>h1 {
	margin-top: -10px;
	margin-bottom: 10px;
}

.form-group {
	font-size: 18px;
}

.form-group.registration {
	margin-top: -20px;
}

.button-group {
	margin-top: -15px;
}

.button-group.registration {
	margin-top: -20px;
}

.label-for-input {
	font-weight: bold;
	margin-left: 15px;
}

.confirm-alert {
	margin-top: -10px;
	margin-bottom: 5px;
	animation: breath 5s linear infinite;
	font-size: 16px;
}

.confirm-alert::after {
	content: 'Password was not confirm !';
}

@keyframes breath {
	0% {
		color: var(--dm-malina);
	}

	50% {
		color: #fff;
	}

	100% {
		color: var(--dm-malina);
	}
}

.form-control-text {
	width: 100%;
	font-size: 18px;
	background: transparent;
	border: none;
	outline: none;
	margin-top: 10px;
	color: #fff;
	letter-spacing: 1px;
	border-bottom: 1px solid var(--dm-green-sea-l);
	padding-bottom: 4px;
}

.form-control-text:focus {
	box-shadow: rgba(var(--dm-green-sea-l), 0.65) 0px 20px 25px -10px;
	transition: 1s;
}

.form-control-text:not(:focus) {
	transition: 1s;
}

.eye-pass-icon {
	position: relative;
	right: -290px;
	top: -25px;
	cursor: pointer;
}

.btn-auth {
	width: 100%;
	font-size: 18px;
	background: transparent;
	border: none;
	outline: none;
	border-radius: 30px;
	border: 2px solid var(--dm-malina-d);
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
}

.btn-auth:hover {
	color: #222;
	font-weight: bold;
	border: 2px solid var(--dm-siren);
	background: var(--dm-green-sea-l);
	cursor: pointer;
	transition: .5s;
	box-shadow: rgba(var(--dm-dark), 0.75) 0px 15px 5px;
}